body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

div.image {
    content: url("../spending.gif");
}​
 .text
 {
     text-align:center
 }
.text h1 {
    color: #4B0082
}
.buttons button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    margin-top: 20px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
    .buttons button:hover {
        background: linear-gradient(to right, #DDA0DD, #9370DB);
    }
    .buttons button:active {
        position: relative;
        top: 1px;
    }