.fc-basic-view .fc-body .fc-row {
    min-height: 1em !important;
}
#calendar{
    margin-top:100px;
    width:21%;
}

.fc-toolbar {
    font-size: .9em;
}

.fc-toolbar h2 {
    font-size: 20px;
    white-space: normal !important;
}
.day-highlight {
    background-color: red !important;
    color: red !important;
}